/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Paragrafi*/

p{
    line-height: 22px;
}

p::after{
  display: table;
  content: '';
  clear: both;

}

a{
    color: white;
    margin: 0px 10px;
}

/*Titoli*/

h1
{
    font-weight: 700;
    font-size: 40px;
    color: #4E3969;
    display: inline;
}

h2{
    margin-top: 20px;
}


h3{
    margin-bottom: 20px;
}

h4{
    padding-top: 40px;
    color: grey;
}

hr{
    margin: 15px 0;
    color: #FF9613;
    width: 5%;
}

button{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    display: inline-flex;
    align-items: center;
    border: 0px;
    border-radius: 20px;
    padding: 10px 47px;
}

/*Body*/

body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/*header*/

header{
    height: 10px;

    /*DEBUG*/
    /*background-color: aqua;*/
}

.logo{
    /*Regole Flex*/
    display: flex;
    justify-content: flex-start;

    color: #FF9613;
    font-family: Nerko One, Arial, Helvetica, sans-serif;
    padding: 0px 0px 20px 20px;
    font-size: 50px; 
}

/*main*/

main{
    background-color:#cbcbcba0 ;
}

.contenitore{
    width: 70%;
    margin: 0px auto;
    margin-top: 40px;

    /*DEBUG*/
    min-height: 1000px;
    /*background-color: brown;*/
}

/*Sezione video*/

.col_sx img{
    height: 100%;
}

.row{
    /*Regole Flex*/
    display: flex;

    margin-top:20px;
    height: 315px;
}

.col_sx{
    width: 70%;
}

.col_dx{
    padding: 20px;
    width: 46%;
    background-color: rgb(255, 255, 255);
}

.col_dx div{
    font-size: 14px;
    margin-top: 15px;
}

 /*Sezione social*/

.social{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin:20px 0;
        /*DEBUG*/
        /*background-color: rgb(95, 109, 160);*/
}

.social span{

    font-weight: 700;
}

.social a{
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.social img{
    width:20px;
    height:20px;
}

 /*Sezione pubblicità*/  

.banner{
        margin:20px 0 ;
         /*DEBUG*/
        /*background-color: blanchedalmond;*/
}

.banner a{
    margin: 0;
}

.banner img{
    width: 100%;
}

 /*Sezione articolo*/

.articolo{
        /*DEBUG*/
        /*height: 400px;*/
        /*background-color: rgb(255, 153, 0);*/
}
p img{
        margin: 9px 10px 5px 0;
        height: 160px;
        float: left;
}

/*footer*/

footer{
    background-color: #7C69A4;
}

.contenitore_footer{
    /*Regole Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 10px;
    color: white;
    padding: 20px;
}

.contenitore_footer div span{
    margin-top: 10px;
}


/*-------------------------------------------------------*/

/*Responsive*/

/*Tablet*/

@media screen and (max-width: 1020px){
    .contenitore{
    width: 90%;
}

.col_sx{
    width: 100%;
    height: 514px;
}

.col_dx{
    padding: 20px;
    width: 100%;
}

.row{
    display: block;
    height: 730px;
}

.col_dx div{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    font-size: 14px;
    margin-top: 33px;
    padding-bottom:6px
}

#in_breve{
    margin: 0;
    width: 100%;
}

.col_sx img{
    height: 510px;
}

iframe{
  width: 100%;
  height: 515px;
}

.social span{
    display: none;
    font-weight: 700;
}
button{

    padding: 10px 70px;
}
.social{
        margin:5px 0;

}

p{
    padding-bottom: 30PX;
    font-size: 18px;
    line-height: 30px;
}

.contenitore_footer{
    flex-direction: column;

    font-size: 14px;
    padding: 20px;
}

.contenitore_footer div{
    text-align: center;
    margin-top: 10px;
}

.social img{
    width: 30px;
    height:30px;
}

}

/*Smartphone*/

@media screen and (max-width: 641px){

.logo{
    /*Regole Flex*/
    justify-content: center;
    font-size: 54px; 
}

.col_sx{
    height: 321px;
    margin: 0
}

iframe{
  width: 100%;
  height: 320px;
}

.col_sx img{
    height: 320px;
}

.none{
    display: none;
}

h1{
    font-size: 30px;
}

.row{
    display: block;
    height: 618px;
}

button{
    padding: 10px 15px;
}

.social img{
    width: 20px;
    height:20px;
}

.banner{
    display: none;
}

p img{
        display: block;
        margin: 0 25%;
        height: 180px;
        margin-bottom: 10px;
}

a{
    color: white;
    padding-top: 21px;
}

.contenitore_footer{
    flex-direction: column;


    font-size: 14px;
    padding: 20px;
}

.col_dx{
    display:block;
    padding: 20px;
    width: 100%;
}

#in_breve{
    margin: 0;
    width: 100%;
}

.col_dx div{
    display: block;
    font-size: 14px;
    margin-top: 15px;
}

}
